:root {
    --primary-color: #6366F1;
    --color-dark: #0B0F19;
    --color-light: #fff;
    --color-grey-100: #F3F6FF;
    --color-grey-300: #E2E5F1;
    --color-grey-500: #B4B7C9;
    --color-grey-600: #9397AD;
    --color-grey-700: #565973;
    --color-grey-800: #33354D;
    --color-grey-900: var(--color-dark);

    --text-color-dark: #131022;
    --text-color-darkgrey: #585C7B;

    --color-success: #22C55E;
    --color-warning: #FFBA08;
    --color-error: #EF4444;
    --color-info: #4C82F7;

    --container-padding: 1rem;
    --transition-time: all 0.2s;

    --primary-hover: #575adf;
    --dark-hover: #2d2941;
    --color-border: var(--color-grey-300);
    --color-features-bg: rgba(99, 102, 241, 0.08);

    --box-shadow: rgb(234, 234, 234);
    --form-border: #D4D7E5;

}