@import url(branding.css);
@import url(elements/buttons.css);
@import url(elements/toggle.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.container {
    width: 100%;
    padding-right: var(--container-padding);
    padding-left: var(--container-padding);
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    display: none;
}

.nav-link {
    color: var(--color-grey-800);
    font-weight: 600;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--primary-hover);
}

#sign-in {
    display: none;
}

header .container {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 1.2rem;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#hero {
    background: rgb(99,102,241);
    background: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 83%);
    padding-bottom: 3rem;
    
    .container{
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "headline"
            "hero-content";
    }
    .headline {
        grid-area: headline;
        text-align: center;
        margin-bottom: 3rem;
        h1 {
            font-size: 34px;
            font-weight: 800;
            color: var(--text-color-dark);
        }

    }
    .hero-content {
        grid-area: hero-content;
        p {
            text-align: center;
            font-size: 18px;
            color: var(--text-color-darkgrey);
            margin-bottom: 3rem;
        }
        
        .buttons {
            display: flex;
            flex-direction: column;
            gap: 1rem;  
            margin-bottom: 3rem;
        }
        .discover-more {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            margin-bottom: 2rem;
            text-decoration: none;
            color: var(--text-color-darkgrey);
        }

    }
    .images {
        grid-area: images;
        display: none;
        position: relative;

        .img-back {
            position: absolute;
            bottom: 0;
            right: 90px;
            z-index: -10;
            width: 70%;
        }
        .img-front {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -5;
            width: 70%;
        }
    }
}

#brands {
    display: none;
}

.brand-logo {
    border: 1px solid var(--color-border);
    border-radius: 8px;
    height: 90px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    font-size: 14px;
    color: var(--color-grey-600);
    padding-top: 1rem;
    padding-bottom: 1rem;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/*Tablet size*/
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    header .container {
        gap: 3rem;
    }
    #hero {
        padding-bottom: 0;
        .container {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "headline headline"
            "hero-content images";
        }
        .headline {
            h1 {
                font-size: 44px
            }
        }
        .hero-content {
            p {
                text-align: left;
            }
            .discover-more {
                justify-content: flex-start;
            }
        }
        .images {
            display: block;
        }
    }

    #brands {
        display: block;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
        }
    }
    .brand-logo {
        width: 160px;
        img {
            max-width: 140px;
        }
    }
    #brand5, #brand6 {
        display: none;
    }

    footer {
        .container {
            flex-direction: row;
            gap: 2px;
        }
    }
}

/*Laptop size*/
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    header .container {
        grid-template-columns: auto 1fr auto auto;
        gap: 3rem;
    }
    .headline {
        h1 {
            font-size: 56px
        }

    }
    .navbar {
        display: block;
    }
    #sign-in {
        display: block;
    }
    #brand5 {
        display: flex;
    }
}

/*Desktop size*/
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
    .brand-logo {
        width: 200px;
        img {
            max-width: unset;
        }
    }
    #brand6 {
        display: flex;
    }
}
