@import url(branding.css);
@import url(elements/buttons.css);
@import url(elements/toggle.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

h1, h2, h4, h5 {
    font-weight: 800;
    color: var(--color-grey-900);
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 32px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 20px;
}
p {
    color: var(--text-color-darkgrey);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    background-color: var(--color-features-bg);
    border-radius: 8px;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.container {
    width: 100%;
    padding-right: var(--container-padding);
    padding-left: var(--container-padding);
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    display: none;
}

.nav-link {
    color: var(--color-grey-800);
    font-weight: 600;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--primary-hover);
}

#sign-in {
    display: none;
}

header .container {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 1.2rem;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#hero {
    background: rgb(99,102,241);
    background: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 83%);
    padding-bottom: 3rem;
    overflow: hidden;
    
    .container{
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "headline"
            "hero-content";
    }
    .headline {
        grid-area: headline;
        text-align: center;
        margin-bottom: 1rem;
        h1 {
            font-size: 34px;
            font-weight: 800;
            color: var(--text-color-dark);
        }

    }
    .hero-content {
        grid-area: hero-content;
        p {
            text-align: center;
            font-size: 18px;
            margin-bottom: 3rem;
        }
        
        .buttons {
            display: flex;
            flex-direction: column;
            gap: 1rem;  
            margin-bottom: 3rem;
        }
        .discover-more {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            text-decoration: none;
            color: var(--text-color-darkgrey);
        }

    }
    .images {
        grid-area: images;
        display: none;
        position: relative;

        .img-back {
            position: absolute;
            bottom: 0;
            right: 90px;
            z-index: -10;
            width: 70%;
        }
        .img-front {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -5;
            width: 70%;
        }
    }
}

#brands {
    display: none;
}

.brand-logo {
    border: 1px solid var(--color-border);
    border-radius: 8px;
    height: 90px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app-features {
    .container {
        display: grid;
        gap: 3rem;
        margin-block: 2rem;

        #features-mobile-img {
            display: none;
        }
        .text-content {
            display: grid;
            gap: 3rem;
        }
        .heading {
            text-align: center;
            h1 {
                margin-bottom: 2rem;
                font-size: 28px;
            }
            p {
                font-size: 18px;
            }
        }
        .features {
            display: grid;
            gap: 2rem;
        }
        .feature {
            display: flex;
            gap: 2rem;
            h5 {
                font-size: 20px;
                color: var(--text-color-dark);
            }
        }
    }
}

#how-does-it-work {
    background-color: var(--color-grey-100);
    padding-block: 4rem;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 2rem;
        p {
            color: var(--color-grey-700);
        }
        .img {
            display: none;
        }
        .text {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }

}
.desktop-only {
    display: none;
}

#desktop-only {
    .container {
        margin-block: 4rem;
        .transfer, .payments {
            display: flex;
            gap: 2rem;
            .text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 2rem;
            }
            .item {
                display: flex;
                align-items: center;
                gap: 1rem;
                margin-block: 1rem;
            }
            .items-icon {
                display: flex;
                gap: 2rem;
            }
            .item-icon {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
            .fa-circle-check {
                color: var(--primary-color);
            }
            button {
                align-self: flex-start;
            }
            .fa-arrow-right {
                margin-left: 1rem;
            }
        }
        p {
            color: var(--color-grey-700);
        }
    }
}

#reviews {
    background-color: var(--color-grey-100);
    padding-block: 4rem;
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;

        .review-content {
            background-color: var(--color-light);
            border-radius: 8px;
            padding: 40px 24px 24px 24px;
            box-shadow: 2px 2px 5px var(--box-shadow);
            position: relative;

            .fa-square-quote {
                color: var(--primary-color);
                font-size: 44px;
                position: absolute;
                top: -30px;
            }

            .fa-solid.fa-star {
                color: var(--color-warning);
            }
            .fa-light.fa-star {
                color: var(--color-grey-500);
            }

            .review {
                display: flex;
                flex-direction: column;
                gap: 1rem;  
                
                p {
                    font-size: 18px;
                    color: var(--color-grey-700);
                }
            }

            .author-content {
                display: flex;
                gap: 0.5rem;
                .name {
                    font-weight: 800;
                }
                .role {
                    color: var(--color-grey-500);
                    font-size: 14px;
                }
            }
        }
    }
}

#faq {
    .container {
        display: grid;

        .headline {
            .faq-text {
                font-size: 18px;
                color: var(--color-grey-700);
            }
        }
        .question {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            border-radius: 8px;
            box-shadow: 2px 2px 10px var(--box-shadow);
            p {
                font-weight: 800;
                color: var(--color-grey-900);
            }
        }
    }
}

footer {
    font-size: 14px;
    color: var(--color-grey-600);
    padding-top: 1rem;
    padding-bottom: 1rem;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/*Tablet size*/
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    header .container {
        gap: 3rem;
    }
    #hero {
        padding-bottom: 0;
        .container {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "headline headline"
            "hero-content images";
        }
        .headline {
            h1 {
                font-size: 44px
            }
        }
        .hero-content {
            p {
                text-align: left;
            }
            .discover-more {
                justify-content: flex-start;
                margin-bottom: 2rem;
            }
        }
        .images {
            display: block;
        }
    }

    #brands {
        display: block;
        margin-top: 2rem;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
        }
    }
    .brand-logo {
        width: 160px;
        img {
            max-width: 140px;
        }
    }
    #brand5, #brand6 {
        display: none;
    }

    #app-features {
        .features {
            grid-template-columns: 1fr 1fr;
        }
    }

    #how-does-it-work {
        .container {
            .img-mobile {
                display: none;
            }
            .img {
                display: flex;
                justify-content: center;
                img {
                    width: 30%;
                }
            }
        }
    }

    footer {
        .container {
            flex-direction: row;
            gap: 2px;
        }
    }
}

/*Laptop size*/
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    header .container {
        grid-template-columns: auto 1fr auto auto;
        gap: 3rem;
    }
    .navbar {
        display: block;
    }
    #sign-in {
        display: block;
    }

    #hero {
        .container {
            margin-top: 3rem;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "headline images"
            "hero-content images";
        }
        .headline {
            h1 {
                font-size: 50px;
                text-align: left;
            }
        }
        .hero-content {
            .buttons {
                flex-direction: row;
            }
            .discover-more {
                margin-top: 15rem;
            }
        }
    }
    #brand5 {
        display: flex;
    }
    #app-features {
        .container {
            grid-template-columns: auto auto;
            /* gap: 5rem; */
            margin-block: 4rem;

            #features-mobile-img {
                display: block;
            }
        }
    }
    .desktop-only {
        display: block;
    }
}

/*Desktop size*/
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
    #hero {
        .container {
            grid-template-columns: 2fr 3fr;
        }
        .headline {
            h1 {
                font-size: 56px;
            }
        }
        .images {
            .img-back{
                width: auto; 
                bottom: -40px;
                right: 200px;
            }
            .img-front{
                width: auto;
                bottom: -60px;
            }
        }
    }
    .brand-logo {
        width: 200px;
        img {
            max-width: unset;
        }
    }
    #brand6 {
        display: flex;
    }

    #app-features {
        .container {
            gap: 10rem;
            .text-content {
                display: grid;
                grid-template-rows: auto 1fr;
                gap: 6rem;
            }
            .features {
                column-gap: 3rem;
                row-gap: 1rem;
            }
        }
    }
}
