@import url(../branding.css);

.btn-primary {
    background-color: var(--primary-color);
    color: var(--color-light);
    text-decoration: none;
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary:hover {
    background-color: var(--primary-hover);
}

.btn-primary i {
    margin-right: 0.5rem;
}

.btn-mobile {
    background-color: transparent;
    border: none;
    font-size: 2rem;
}

@media (min-width: 1000px) { /*1400px*/
    .btn-mobile {
        display: none;
    }
}